.consultation-button {
  @media (min-width: $md3) {
    display: none;
  }

  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;

  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    width: 30px;
    height: 30px;
    background: url("../../assets/img/icons/phone-white.svg") 0 0/30px 30px no-repeat;
    transform: translateY(-50%);
  }
}
