.waves {
  &__wave-top,
  &__wave-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(135% + 1.3px);
      height: 63px;

      @media (max-width: $md3) {
        height: 30px;
      }
    }
  }

  &__wave-top {
    top: 0;
  }

  &__wave-bottom {
    bottom: 0;
    transform: rotate(180deg);
  }

  &__shape-fill {
    fill: #ffffff;
  }
}
