.about {
  padding: 0px 0px 60px 0px;

  @media (max-width: $md2) {
    padding: 0px 0px 50px 0px;
  }

  @media (max-width: $md3) {
    padding: 0px 0px 40px 0px;
  }

  @media (max-width: $md4) {
    padding: 0px 0px 30px 0px;
  }

  &__title {
    margin: 0px 0px 45px 0px;

    @media (max-width: $md2) {
      margin: 0px 0px 40px 0px;
    }

    @media (max-width: $md3) {
      margin: 0px 0px 35px 0px;
    }
  }

  &__inner {
    line-height: 160%;

    h3 {
      margin: 0px 0px 15px 0px;
      font-weight: 600;
      font-size: 22px;
      line-height: 120%;
      color: $titleColor;

      @media (max-width: $md3) {
        margin: 0px 0px 10px 0px;
      }
    }

    p {
      &:not(.about__label) {
        margin: 0px 0px 10px 0px;
      }

      span {
        font-weight: 600;
      }
    }

    ul {
      margin: 0px 0px 30px 0px;
      padding: 0px 0px 0px 20px;
      list-style-type: disc;

      @media (max-width: $md3) {
        margin: 0px 0px 20px 0px;
      }
    }

    li {
      margin: 0px 0px 5px 0px;
      list-style: disc;

      &::marker {
        color: $secondaryColor;
      }
    }
  }

  &__label {
    margin: 0px 0px 60px 0px;

    @media (max-width: $md2) {
      margin: 0px 0px 50px 0px;
    }

    @media (max-width: $md3) {
      margin: 0px 0px 40px 0px;
    }

    @media (max-width: $md4) {
      margin: 0px 0px 30px 0px;
    }
  }
}

// --------------------------------------------------
.about-page {
  padding: 0px 0px 60px 0px;

  @media (max-width: $md2) {
    padding: 0px 0px 50px 0px;
  }

  @media (max-width: $md3) {
    padding: 40px 0;
  }

  @media (max-width: $md4) {
    padding: 30px 0;
  }
}
