.decide-consultation {
  position: relative;
  padding: 50px 0 17px;
  background: url("../../../assets/img/content/left-bg.png") center center/100%
    100% no-repeat;

  @media (max-width: $md3) {
    background: url("../../../assets/img/content/left-bg-mobile.png") center
      bottom/100% 100% no-repeat;
  }

  &__container {
    max-width: 1470px;
  }

  &__inner {
    display: flex;
    align-items: center;

    @media (max-width: $md2) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__image {
    margin: 0px 20px 0px -75px;
    filter: drop-shadow(50px 50px 50px rgba(0, 0, 0, 0.1));

    img {
      height: auto;
      max-width: 100%;
      object-fit: cover;

      @media (max-width: $md2) {
        max-height: 350px;
      }
    }

    @media (max-width: $md2) {
      order: 2;
      margin: 0;
    }
  }

  &__content {
    @media (max-width: $md2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 0px 20px 0px;
    }
  }

  &__title {
    margin: 0px 0px 30px 0px;
    color: $white;

    span {
      font-weight: 300;
    }

    @media (min-width: $md2) {
      max-width: 660px;
      text-align: left;
    }
  }

  &__button {
    background: #1abbb3;

    @media (max-width: $md3) {
      padding: 15px 30px;
    }
  }
}
