/* variables  */

// color variables

$white: #fff;
$black: #000;
$secondaryColor: #f96f7f;
$textColor: #4e4e4e;
$titleColor: #131313;

// </color variables>

// <font variables>

$fontSize: 16px;
$fontFamlily: "Montserrat", sans-serif;

// </font variables>
