.benefits {
  padding: 60px 0 20px;

  @media (max-width: $md2) {
    padding: 0;
  }

  &__title {
    margin: 0px 0px 30px 0px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 calc(33.333% - 30px);
    margin: 0px 30px 20px 0px;
    text-align: center;

    @media (max-width: $md2) {
      flex: 0 1 calc(50% - 25px);
      margin: 0px 25px 40px 0px;
    }

    @media (max-width: 600px) {
      flex: 1 1 100%;
      margin: 0px 0px 50px 0px;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 30px 0px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
    background: $white;

    img {
      max-width: 35px;
      max-height: 40px;
      object-fit: cover;
    }
  }

  &__label {
    flex: 1 1 auto;
    margin: 0px 0px 25px 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: $titleColor;
  }

  &__description {
    span {
      font-weight: 700;
    }
  }
}
